/* Styles specific to the projects page */


.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    padding: 0.3rem 0.5rem; /* Minimal padding for a compact look */
    height: auto; /* Ensure it doesn't have fixed height issues */
}



ul a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

ul a:hover,
ul a.active {
    color: #007bff;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #007bff;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* .project-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1;
 
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card h2 {
    margin-bottom: 1rem;
    color: #007bff;
    font-size: 1.5rem;
}

.project-card p {
    color: #666;
    line-height: 1.6;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff; /* Change this to your desired color */
    border-radius: 50%; /* Optional: make it circular */
    width: 30px; /* Adjust size */
    height: 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f9;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 1rem; 
    }
    .project-card {
        padding: 1rem; 
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem; /* Adjust heading font size */
    }
    .project-card p {
        font-size: 0.9rem; /* Adjust paragraph font size */
    }
}
