/* Styles specific to the skills page */

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #007bff;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
}

.skill-category {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-category h2 {
    margin-bottom: 1rem;
    color: #007bff;
    font-size: 1.5rem;
    text-align: center;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap:0.5rem;
}

.skill-category ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
    text-align: left; 
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f9;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 1rem; /* Reduce gap size */
    }
    .skill-category {
        padding: 1rem; /* Adjust padding */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2rem; /* Adjust heading font size */
    }
    .skill-category ul li {
        font-size: 0.9rem; /* Adjust list item font size */
    }
}
